@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Raleway:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;

    background-color: rgb(0, 0, 0, 0.9);

    font-family: "Hedvig Letters Sans", sans-serif;
    color: aliceblue;
}

/*Caixa Principal*/
.Conteudo-Principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minman(300px, 1fr));
    grid-template-areas: "Cabecalho Cabecalho Cabecalho"
        "Form-User Cont-Principal Cont-Principal"
        "Rodape Rodape Rodape";
    gap: 10px;
    place-items: stretch;
    place-content: center / space-around;


}

/*Cabeçalho-Menu*/
.Cabecalho {
    margin: 10px 0px;
    margin-bottom: 1rem;
    background-color: #202020;
    display: grid;
    grid-area: "Cabecalho";
    grid-column-start: 1;
    grid-column-end: 4;
    place-content: space-around center;
    place-items: center;
}

.Titulo-Cab {
    margin: 0.8rem 0rem;
    align-self: center;
    justify-self: center;
}

.Titulo-Cab img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}



.LL-Lista {
    list-style: none;
    display: flex;

}

.LL-Lista :any-link {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.4s;

}

.LL-Lista :any-link:hover {
    background-color: #FF312E;
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;
    color: aliceblue;
}

/*Formulário-Usuário*/
.Form-User {
    margin: 0.2rem 0.5rem;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #2b2b2b;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Form-User i {
    margin: 0rem 0.2rem;
}

.Form-Campos {
    margin: 0.5rem 0.5rem;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #202020;
    border-radius: 5px;
    color: #FF312E;
    font-size: 0.8rem;
}

.Form-Campos input {
    margin: 0.5rem 0rem;
    padding: 5px;
    background-color: #707070;
    border: none;
    border-radius: 5px;
    color: black;
}

.Form-User-Titulo {
    padding: 5px;
    margin: 0.5rem 0.5rem;
    font-size: 15px;
    border-radius: 5px;
}

.Form-User-Titulo h2 {
    display: flex;
    align-self: baseline;
    text-align: start;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
}

.Btt-Form-User {
    margin: 0.5rem 0.8rem;
    padding: 10px 10px;

    display: flex;
    justify-content: center;

    border: none;
    border-radius: 10px;
    background-color: #707070;
}

.Btt-Form-User:hover {
    filter: brightness(0.5)
}


/*Formulário-Imc*/
.Imc-Principal {

    margin-right: 0.5rem;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 5px;
    place-items: center space-around;
    place-content: center;

}

.Imc-Titulo {
    text-align: start;

    place-content: start;

    color: #FF312E;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.Imc-Inputs {

    margin: 0.5rem 0rem;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.8rem;
    font-weight: bold;

    background-color: #202020;
    border-radius: 5px;
}

/*ìcones-formulário-IMC*/
.Imc-Inputs i {
    margin: 0rem 0.2rem;
}

.Imc-Inputs input {
    margin: 0.5rem 0rem;
    padding: 5px;
    background-color: #707070;
    border: none;
    border-radius: 5px;
    color: rgb(248, 249, 250);
}


.Btt-Form-Imc {

    margin: 0.8rem 0rem;
    padding: 10px 15px;

    display: flex;
    justify-content: center;

    border: none;
    border-radius: 10px;
    background-color: #707070;
    transition: 0.4s;

}

.Btt-Form-Imc:hover {
    background-color: #FF312E;
    border-radius: 10px;

}


.Resp-Imc {
    margin: 0.8rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;

}



/*Texto-Imc*/
.Artigo-Texto1 {
    margin: 4rem 0rem;
    font-size: 14px;
    text-align: left;

}

.Artigo-Texto1-Titulo {
    margin: 1rem 0rem;
    font-size: 25px;

}


.Artigo-Texto1-Subtitulo {
    margin: 0.5rem 0rem;
    font-size: 20px;

}

/*Rodape*/
.Rodape {
    margin-top: 0.8rem;

    display: grid;
    grid-area: "Rodape";
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #2b2b2b;
}

.Texto-Rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.hide {
    display: none;
}