
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=DynaPuff:wght@400;700&family=Inclusive+Sans&family=Work+Sans:wght@200;300;500&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    
    background-color: #181818;
    font-family: "Insclusive Sans", sans-serif;
}


.cab-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
}


.logoimg {
    max-width: 30%;
    border-radius: 90%;
    margin: 25px 35px;
    image-rendering: optimizeQuality;
}

.link-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
}
.link-box ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}


.link-box li {
    margin: 0px 25px;
    color: #ffffff;
}

.link-box :any-link {
    text-decoration: none;
    color: #ffffff;
}


.main-content {
    height: 80vh;
    width: auto;
    max-width: 750px;
    padding: 15px 25px;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #023047;
    box-shadow: 0 0 2px 2px #8d99ae;
    background-image: url('https://images2.alphacoders.com/104/thumb-1920-1049543.jpg');
    background-size: 150%;
}

.ttl-box {
    font-size: 1.5rem;
    font-family: "DynaPuff", cursive;
    font-weight: 500;
    color: #fb8500;
}

.question-box {
    margin: 1rem 0rem;
    padding: 5px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

.answers-box {
    margin: 1rem 0rem;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #023047;
    border-radius: 10px;
    font-family:  Helvetica, sans-serif ;    
}

.asw-btt {
    margin: 10px 0px;
    padding: 10px 20px;

    background-color: #fb8500;
    border: none;
    border-radius: 15px;

    font-size: 0.7rem;
    font-weight: 500;
    color: #ffffff;
}
.asw-btt:hover {
    font-size: 110%;
    transition: 0.3s;

    background-color: #ffffff;
    color: #fb8500;
}



.controls-box {
    margin: 1rem 0rem;
    display: grid;
    gap: 20px;
}

.stt-btt {
    padding: 10px 40px;
    
    background-color: #023047;
    border: none;
    border-radius: 10px;

    font-size: 0.8rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: filter 0.2;

}
.stt-btt:hover {
    font-weight: 500;
    color: #023047;
    
    background-color: #fb8500;
    box-shadow: 0 0 2px 2px #ffffff ;
    border: none;
    border-radius: 10px;
    
}

.nxt-btt {
    padding: 10px 40px;
    
    background-color: #023047;
    border: none;
    border-radius: 10px;

    font-size: 0.8rem;
    font-weight: 500;
    color: #ffffff;
}

.nxt-btt:hover {
    font-weight: 500;
    color: #023047;
    
    background-color: #fb8500;
    box-shadow: 0 0 2px 2px #ffffff ;
    border: none;
    border-radius: 10px;
    
}


.ftt-box {
    padding: 10px;
    margin: 1rem 0rem;
    color: #ffffff;
    background-color: #000000;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 0.5rem;

}

.hide {
    display: none;
}