
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Onest:wght@100;200;300;400&family=Pixelify+Sans:wght@400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    
    background-color: #252422;
    font-family: "Onest", sans-serif;
}


.cab-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #403d39;
}


.ttl-cab {
    margin: 0.5rem 0rem;
    padding: 5px 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    font-size: 1.5rem;
    font-family: 'Pixelify Sans', cursive;
    font-weight: 200;
    color: #eb5e28;
}


.icon-box {
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.logoimg {
    max-width: 20%;
    border-radius: 90%;
    border: solid 2px #fb8500;
    image-rendering: optimizeQuality;
}

.link-box {
    margin: 1rem 0rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link-box ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}


.link-box li {
    padding: 10px;
    margin: 0px 25px;
   
   font-size: 0.8rem;
    color: #fffcf2;
    border: 2px solid #fb8500;
    border-radius: 10px;
}
.link-box li:hover {
    padding: 10px;
    margin: 0px 25px;

    font-weight: 500;
    color: #fffcf2;
    background-color: #fb8500;
    border-radius: 10px;
    transition: 0.4s;
}

.link-box :any-link {
    text-decoration: none;
    color: #fffcf2;
}


.main-content {
    height: auto;
    width: auto;
    padding: 15px 25px;
    margin: 2rem 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #403d39 ;
    box-shadow:  1px 1px #eb5e28;
    background-color:#403d39;
    border-radius: 10px;
}

.ttl-box {
    margin: 2rem 0rem;
    font-size: 1.2rem;
    font-family: "Pixelify sans", cursive;
    font-weight: 200;
    color: #fb8500;
}

.question-box {
    margin: 1rem 0rem;
    padding: 5px;
    color: #fffcf2;
    font-family: 'Onest', sans-serif ;
    font-size: 0.5rem;
    font-weight: 300;
}

.answers-box {
    margin: 1rem 0rem;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #252422;
    border-radius: 10px;
    font-family:  'Onest', sans-serif ;    
}

.asw-btt {
    margin: 10px 0px;
    padding: 10px 20px;

    background-color: #fb8500;
    border: none;
    border-radius: 15px;

    font-size: 0.9rem;
    font-family: 'Onest', sans-serif;
    color: #101010;
}
.asw-btt:not(:disabled):hover {
    font-size: 110%;
    transition: 0.3s;

    background-color: #ffffff;
    color: #fb8500;
}

.asw-btt:disabled {
   cursor: not-allowed;
   background-color: #7a2300; 
}



.controls-box {
    margin: 1rem 0rem;
    display: grid;
    gap: 20px;
}

.stt-btt {
    padding: 10px 40px;
    
    background-color: #fffcf2;
    border: none;
    border-radius: 10px;

    font-size: 0.8rem;
    font-weight: 500;
    color: #eb5e28;
    cursor: pointer;
    transition: filter 0.2;

}
.stt-btt:hover {
    font-weight: 500;
    color: #101010;
    
    background-color: #fb8500;
    box-shadow: 0 0 1px 2px #ffffff ;
    border: none;
    border-radius: 10px;
    
}

.nxt-btt {
    padding: 10px 40px;
    margin: 1rem 0rem;
    
    background-color: #fffcf2;
    border: none;
    border-radius: 10px;

    font-size: 0.8rem;
    font-weight: 500;
    color: #eb5e28;
}

.nxt-btt:hover {
    font-weight: 500;
    color: #101010;
    
    background-color: #fb8500;
    box-shadow: 0 0 1px 2px #ffffff ;
    border: none;
    border-radius: 10px;
    
}


.ftt-box {
    padding: 10px;
    margin: 1rem 0rem;
    color: #eb5e28;
    background-color: #403d39;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 0.5rem;

}

.status-box {
    margin: 1rem 0rem;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-weight: 400;
    color: #eb5e28;
}

.status-box h1 {
    font-size: 1rem;
    margin: 0.5rem 0rem;
    padding: 10px 0px;
}


.status-box p {
    font-size: 0.8rem;
    margin: 0.5rem 0rem;
    color: #fffcf2;
}


.correct-asw {
    background-color: #30a966;
    color: #ffffff;
}

.incorrect-asw {
    background-color: #742202 ;
    color: #101010;
}





.hide {
    display: none;
}